---
---

@import "jekyll-theme-cayman";

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Montserrat+Alternates:400,700&display=swap");

/* Font */

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
}

h3 {
  font-weight: 400;
}

.main-content {
  a {
    color: #345995;
  }
  h1,
  h2,
  h3 {
    color: #b50c0c;
  }
}

/* Sections */

.page-header {
  background-image: linear-gradient(
    to right top,
    #b50c0c,
    #cc4c00,
    #dc7a00,
    #e7a600,
    #ebd112
  );
  border-bottom: 3px solid #b50c0c;

  @media (min-width: 42em) {
    padding: 4em;
  }
}

.project-tagline {
  margin-bottom: 0.5em;
}
